@import "_variables";
@import "_fonts";
@import "_mixins";

.main-slider {
	max-width: 100%;

	.slick-list {
		overflow: hidden;
	}

	@media (min-width: 320px) {
		.sliders {
			padding-top: 20px;
		}
	}

	@media (min-width: 767px) {
		.sliders {
			padding-top: 0px;
		}
	}
	@media (min-width: 991px) {
		.sliders {
			padding-top: 0px;
		}
	}

	.sliders {
		position: relative;

		& .slick-arrow {
			position: absolute;
			top: 50%;
			cursor: pointer;
			z-index: 10;
			color: $universalColorwhite;
			font-size: 25px;

			max-width: 250px;
		}

		.next-img {
			position: absolute;
			left: 0;
			&:hover img {
				opacity: 1;
				visibility: visible;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				opacity: 0;
				visibility: hidden;
				transition: all 0.3s ease;
			}
		}
		.nextbtnimg {
			position: absolute;
			left: 100%;
		}
		.prevbtnimg {
			position: absolute;
			right: 100%;
		}
		.prev-img {
			position: absolute;
			right: 0;
			transition: all 0.5s ease;

			&:hover img {
				opacity: 1;
				visibility: visible;
			}
			img {
				width: 100%;
				height: 100%;
				visibility: hidden;
				object-fit: cover;
				opacity: 0;
				transition: all 0.3s ease;
			}
		}

		.fa-chevron-left {
			position: absolute;
			left: 0px;
			width: 100%;
			height: 100%;
			transition: all 0.3s ease;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: rgba(0, 0, 0, 0.6);

			&:hover {
				background-color: $sliderMaincolor;
			}
		}
		.fa-chevron-right {
			position: absolute;
			right: 0px;
			width: 100%;
			height: 100%;
			transition: all 0.3s ease;
			display: flex;
			align-items: center;
			justify-content: center;

			background-color: rgba(0, 0, 0, 0.6);
			&:hover {
				background-color: $sliderMaincolor;
			}
		}
	}

	@media (min-width: 320px) {
		.sliders .slick-arrow {
			width: 42px;
			height: 44px;
		}
	}
	@media (min-width: 768px) {
		.sliders .slick-arrow {
			width: 62px;
			height: 64px;
			font-size: 30px;
		}
	}

	@media (min-width: 991px) {
		.sliders .slick-arrow {
			width: 102px;
			height: 104px;
			font-size: 40px;
		}
	}

	.slider-item {
		width: 100%;
		overflow: hidden;
		position: relative;

		.slider__text {
			max-width: 700px;
			display: flex;
			flex-direction: column;
			position: absolute;
			top: 40%;
			left: 16%;
			z-index: 4;
		}

		@media (min-width: 320px) {
			.slider__text {
				padding-left: 5px;
				padding-right: 5px;
				text-align: center;
				left: 0%;
			}
		}
		@media (min-width: 481px) {
			.slider__text {
				padding-left: 10px;
				padding-right: 10px;
				text-align: center;
				left: 0%;
			}
		}
		@media (min-width: 767px) {
			.slider__text {
				left: 5%;
			}
		}

		@media (min-width: 991px) {
			.slider__text {
				text-align: start;
				left: 16%;
			}
		}

		&__title {
			@include blockFonts($navLogofont, $universalColorwhite, uppercase);
			font-weight: 600;
			font-size: calc(24px + 36 * (100vw / 1600));

			@media (min-width: 481px) {
				.slider-item__title {
					font-size: calc(24px + (36 + 36 * 0.7) * ((100vw - 320px) / 1600));
				}
			}

			@media (min-width: 768px) {
				.slider-item__title {
					text-align: center;
					font-size: calc(24px + (36 + 36 * 0.7) * ((100vw - 320px) / 1600));
				}
			}

			span {
				color: $sliderMaincolor;
			}
		}

		&__subtitle {
			@include blockFonts($navLogofont, $universalColorwhite, none);
			padding-top: 44px;
			line-height: 1.5;
			font-size: calc(14px + 4 * (100vw / 1600));
		}
		@media (min-width: 767px) {
			.slider-item__subtitle {
				font-size: calc(14px + (4 + 4 * 0.7) * ((100vw - 320px) / 1600));
			}
		}

		&__button {
			margin-top: 50px;
			max-width: 100px;
			min-height: 45px;
			background-color: $sliderMaincolor;
			font-size: 14px;
			display: flex;
			justify-content: center;
			align-items: center;
			@include blockFonts($headerTextfont, $universalColorwhite, capitalize);
		}
		@media (min-width: 320px) {
			.slider-item__button {
				position: relative;
				left: 50%;
				transform: translate(-50%, 0);
			}
		}
		@media (min-width: 991px) {
			.slider-item__button {
				position: relative;
				left: 0%;
				transform: translate(0%, 0);
			}
		}

		.slider__image {
			width: 100%;
			height: 100vh;
			overflow: hidden;
			position: relative;

			&-bg {
				width: 100%;
				height: 100vh;
				position: absolute;
				top: 0;
				left: 0;
				background-color: rgba(0, 0, 0, 0.5);
				z-index: 3;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}
