@import "_variables";
@import "_fonts";
@import "_mixins";

.menu {
	padding-top: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__logo {
		display: flex;
		align-items: center;

		img {
			max-width: 40px;
		}
		a {
			padding-left: 4px;
			font-family: $navLogofont;
			color: $navLogocolor;
			text-transform: capitalize;
			font-size: calc(20px + 10 * (100vw / 1170));
		}
		@media (min-width: 767px) {
			a {
				font-size: calc(20px + (10 + 10 * 0.7) * ((100vw - 320) / 1170));
			}
		}
	}

	@media (min-width: 767px) {
		.menu__navigation {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 80%;
		}
	}

	@media (min-width: 991px) {
		.menu__navigation {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 60%;
		}
	}
	@media (min-width: 1170px) {
		.menu__navigation {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 51%;
		}
	}

	&__navbar {
		display: none;
	}
	&__submenu {
		display: flex;
	}
	&__list {
		display: inline;
		padding-left: 25px;

		a {
			color: $wrapperBgcolor;
			font-size: 14px;
			font-family: $headerTextfont;
			text-transform: capitalize;
			line-height: 6.5;
			position: relative;
			&:hover {
				color: $headerListhoverColor;
				&:after {
					content: "";
					position: absolute;
					top: 0px;
					right: -5px;
					width: 1px;
					height: 15px;
					background-color: $headerListhoverColor;
				}
				&:before {
					content: "";
					position: absolute;
					top: 0px;
					left: -5px;
					width: 1px;
					height: 15px;
					background-color: $headerListhoverColor;
				}
			}
		}
	}

	@media (min-width: 767px) {
		.menu__navbar {
			display: block;
		}
	}

	&__search {
		position: relative;
		.search__input {
			display: none;
		}

		i {
			font-size: 20px;
		}

		.search__toggle {
			cursor: pointer;
		}

		.submit__input {
			position: absolute;
			top: -2px;
			right: 25px;
			border-radius: 5px;
			padding: 4px;
			outline: none;
			border: 1px solid #ccc;
			text-decoration: none;
			transition: 0.4s ease;
			width: 140px;
			visibility: visible;
			opacity: 1;
			transform-origin: right;
		}

		@media (min-width: 767px) {
			.submit__input {
				visibility: hidden;
				opacity: 0;
			}
			.search__input:checked ~ .submit__input {
				width: 520px;
				opacity: 10;
				visibility: visible;
			}
		}
		@media (min-width: 481px) {
			.submit__input {
				width: 250px;
			}
		}
	}
}
