// Общее переменные
$wrapperBgcolor: #24282e;
$universalColorwhite: #fff;

// HEADER

$headerTextfont: "Open Sans", sans-serif;
$headerListhoverColor: #ff6600;

// NAVBAR

$navLogofont: "Roboto", sans-serif;
$navLogocolor: #656262;

// Sliders

$sliderMaincolor: #ff6600;

// ABOUT BLOCK

$aboutTitlefont: "Roboto Bold";
$aboutTitlecolor: #555252;
$aboutTextfont: "Open Sans", sans-serif;

// COURSE BLOCK

$courseTitlefont: "Open Sans Semi Bold", sans-serif;
$courseTextcolor: #444444;
$courseBtncolor: #ff6600;
$courseBtnfont: "Roboto Bold";

// VIDEO_BLOCK

$videoBgcolor: #3b3b3d;

// Clients block

$clientBgcolor: #f2f2f2;

// Blog Block

$blogTitlefont: "Roboto Medium", sans-serif;
$blogTitlecolor: #555252;
$blogcontentcolor: #7d7d7e;
$blogContenttoggle: #e34b11;
$blogContenttitleFont: "Roboto";

// Footer-top

$footerBgcolor: #2d3237;
$footerTitlefont: "Roboto Bold";
$footerMaincolor: #e34b11;
$footerTextfont: "Open Sans Light";
